* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
}
h1 {
    color: rgb(240, 50, 50);
    font-size: 2em;
    margin: 70px;
    cursor: pointer;
}
nav {
    margin: 50px;
    font-size: 1.1em;
    font-weight: 550;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
p {
    padding: 2px;
}
#enjoy {
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px;
}
#trainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
input {
    margin: 5px;
}
label {
    display: inline-block;
    width: 260px;
    text-align: right;
}
#submit {
    width: 10%;
    height: 30px;
    border-radius: 3px;
    border-color: black;
    background-color: rgb(224, 147, 147);
    font-weight: 600;
    margin: 20px;
    color: black;
}
#trainer-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.1em;
}
.dark-mode {
    background-color: black;
    color: white;
}
.dark-mode-btn {
    border-color: white !important;
}
